:root {
  --color-bg: #002b36;
  --color-fg: #839496;
  --color-h1: #cb4b16;
  --color-h2: #6c71c4;
  --color-h3: #268bd2;
  --color-h4: #6c71c4
}

h2 {
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 1px;
}

.paragraphing {
  font-size: 15.5px;
  text-align: justify;
}

article h3 {
  color: var(--color-h3)
}

article h4 {
  color: var(--color-h4)
}

html {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: VT323;
  font-weight: 700
}

body {
  display: grid;
  grid-gap: 0;
  width: 1024px;
  grid-template-columns: repeat(12, 85px);
  grid-template-rows: auto auto 50px;
  float: center;
  margin: auto
}

a {
  color: var(--color-h2)
}

footer,
header {
  grid-column: 1/13;
  margin: auto
}

footer {
  width: 748px
}

header {
  margin-bottom: 25px
}

article {
  font-family: "Space Mono";
  text-align: justify;
  background-color: #002b36;
  border-radius: 15px;
  margin-bottom: 20px
}

article p {
  font-size: 13px;
  margin-bottom: 10px
}

article ul {
  font-size: 13px;
  margin: 0
}

article h2 {
  font-family: VT323;
  color: var(--color-h1)
}

aside {
  vertical-align: top;
  grid-column: span 3/13;
  grid-row: 2;
  font-family: VT323;
  text-align: justify;
  padding: 5px 30px 5px 30px
}

img {
  max-width: 100%;
  max-height: 100%
}

figure {
  margin-inline-start: 5px;
  margin-inline-end: 5px
}

#leftcolumn {
  grid-column: 1/9;
  grid-row: 2;
}

#mainTitle {
  color: var(--color-h1);
  font-size: 60px;
  font-family: VT323;
  display: inline-block;
  margin: 15px
}

#HarshPicture>img {
  border-radius: 25px;
  width: 100%;
  box-shadow: 9px 9px 5px rgba(255, 255, 0, 0.98);
}
.flip-container {
  perspective: 1000px;
}

.flip-card {
  width: 200px;
  /* Adjust the width as needed */
  height: 300px;
  /* Adjust the height as needed */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-image {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 9px 9px 5px rgba(255,255,0,0.98);
    /* Add the desired shadow properties here */
}

.flip-card-front,
.flip-card-back {
  position:absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 1;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: #f2f2f2;
  color: #000;
  padding: 20px;
}

.flip-container:hover .flip-card {
  transform: rotateY(180deg);
}

.keyPoints {
  color: var(--color-h2);
  list-style-type:initial;
  font-size: 16px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted var(--color-h2);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  text-indent: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  color: white;
}